body {
  background: #00BFFF;
  background-image: url("JQuery");
  background-size: cover;
  background-blend-mode: soft-light;
  background-position: bottom;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

h1, h3, a {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

a:active,
a:hover {
  color: #FFFF00;
}

p {
  font: Arial Narrow, sans-serif;
  color: #000000;
}

blockquote {
  font-weight: bold;
  font-style: italic;
  font-size: 1.5em;
  color: #FFFFFF;
}
