body {
  background: #300000;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

h1, h3, a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

a:active,
a:hover {
  color: #FFFF00;
}

p {
  font: Arial Narrow, sans-serif;
  color: #00BFFF;
}

blockquote {
  font-weight: bold;
  font-style: italic;
  font-size: 1.5em;
  color: #ffffff;
}
