body {
    background-color: #0c0129;
    background-image: url(XML_JSON2.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
    background-repeat: repeat-y;
    background-position: bottom;
}
    
a:active, a:hover {
    color: yellow;
}

h1,a {
    color: white;
    text-align: center;
    text-decoration: none;
}

.basics {
    max-width: 550px;
    margin: auto;
    background-color: rgb(62, 18, 119);
}

table {
    border: 0.5rem outset black;
    box-shadow: 0 0 0 2rem black;
    border-radius: 12px;
    font: bold 1rem sans-serif;
    color: white;
    margin: 2rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    margin-left: .5em;
}

th, th:hover {
    text-decoration: none;
    padding-bottom: 1em;
}

td {
    padding: .5em 1em; 
}
